/* Fundo principal */
.banner-customizable {
    background-color: #181818;
}

/* Labels */
.label-customizable {
    color: #f1f1f1;
}

/* Texto descritivo */
.textDescription-customizable {
    color: #f1f1f1;
}

/* Campos de entrada */
.inputField-customizable {
    background-color: #222;
    color: #fff;
    border-color: #444;
}

/* Botão de submit */
.submitButton-customizable {
    background-color: #222;
    color: #fff;
    border-color: #444;
}

/* Botões de social login */
.socialButton-customizable {
    background-color: #222;
    color: #fff;
}

/* Mensagens de erro */
.errorMessage-customizable {
    color: #ff4f4f;
}