# terraform.tfvars.example
# Copie para terraform.tfvars e ajuste os valores

environment = "dev"

# SQS Configuration
sqs_visibility_timeout = 300
sqs_message_retention  = 345600
sqs_dlq_retention      = 1209600
sqs_max_receive_count  = 3

# Kubernetes
kubernetes_namespace = "fastfood"